<h1><%= @movie_info["Title"] %></h1>
<p>Year: <%= @movie_info["Year"] %></p>
<p><%= @movie_info["Plot"] %></p>
<%= simple_form_for([current_user, @movie]) do |f| %>
	<%= f.hidden_field :title, :value => @movie_info["Title"] %>
	<%= f.hidden_field :year, :value => @movie_info["Year"] %>
	<%= f.hidden_field :plot, :value => @movie_info["Plot"] %>
	<%= f.hidden_field :imdb_id, :value => @movie_info["imdbID"] %>
	<%= f.button :submit, 'Favorite' %>
<% end %>
<%= link_to 'Back', :back %>