<div class="row">
		<div class="col-md-8">
			<h1><%= @movie.title %></h1>
			<p><strong>Year</strong>: <%= @movie.year %></p>
			<p><strong>Plot</strong>: <%= @movie.plot %></p>
			<% if !@movie.reviews.map(&:user_id).include?(current_user.id) %>
			<%= render 'reviews/form' %>
			<% end %>
			<%= link_to 'Back', :back %> | <%= link_to 'Favorites', user_movies_path(current_user) %>
		</div>
		<div class="col-md-4">
			<h1>Reviews:</h1>
			<% @movie.reviews.each do |review| %>
				<% if review.user == current_user %>
				<%= link_to edit_review_path review do %>
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				<% end %>
				<%= link_to review, method: :delete, data: { confirm: 'Are you sure?' } do %>
					<i class="fa fa-trash" aria-hidden="true"></i>
				<% end %>	
				<% end %>
				<strong><%= review.user.email %></strong>: <%= review.body %>
				<hr>
			<% end %>
		</div>
</div>