<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				Menu <i class="fa fa-bars"></i>
			</button>
			<%= link_to 'IMDB App', root_path, class: 'navbar-brand' %>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'Home', root_path %></li>
				<% if user_signed_in? %>
				<li><%= link_to 'My Movies', user_movies_path(current_user) %></li>
				<% end %>
				<% if user_signed_in? %>
				<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
				<% else %>
				<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
				<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
				<% end %>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/img/<%= @image_url || 'home-bg' %>.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
				<h1><%= @title || 'Movie App' %></h1>
					<hr class="small">
					<span class="subheading">Review your favorite movie today!</span>
				</div>
			</div>
		</div>
	</div>
</header>